<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>Yokoso</h1>
    <form method="POST" action="{{ url_for('complete_tasks') }}">
    <ul>
        {% for t in tasks %}
            <li>
                <input type="checkbox"
                    name="taskCheckbox"
                    value="{{ loop.index0 }}"
                    {% if t.completed %}checked{% endif %}>
                {{ t.name }}
            </li>
        {% endfor %}
    </ul>
    <button type="submit">Mark Completed</button>
    </form>
    <form method="POST" action="{{ url_for('add_task') }}">
    <label for="newTask">Add Task:</label>
    <input type="text" id="newTask" name="newTask" required>
    <button type="submit">Add</button>
</form>
</body>
</html>