body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #1e1e1e;
    color: #ffffff;
}

#themeBtn {
    margin-bottom: 20px;
    padding: 8px 12px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#themeBtn:hover {
    opacity: 0.8;
}
